conversation(display_name="Cedric")
  case lastResponse
    when "im_exited"
    when "this_looks_fun"
      statement#final
      responses
    
    when "why_is_this_so_random"
      statement#colourful
      responses
        response#what_is_this_mission.
          Pouvez-vous me parler de cette mission spéciale ?
        response#im_excited.
          J'ai hâte d'y être !
        response#this_looks_fun.
          Ça a l'air amusant !

    when "what_is_this_mission"
      statement#mission
      responses
        response#why_is_this_so_random.
          Pourquoi cette mission est-elle si colorée et semble-t-elle aléatoire ?
        response#im_exited.
          J'ai hâte d'y être !
        response#this_looks_fun.
          Cela a l'air amusant !

    default
        statement#default
        responses
          response#what_is_this_mission.
            Bonjour, quelle est la mission spéciale ?
          response#why_is_this_so_random.
            Pourquoi cette mission est-elle si colorée et semble-t-elle aléatoire ?

  statements
    statement#default
      text.
        Bienvenue à ce discours [span.highlight special mission !]
      speech.
        Bienvenue dans cette #[break(strength="medium")] mission spéciale !
    déclaration#mission
      texte.
        Ceci est une mission spéciale qui vous apprendra à créer vos propres missions. Vous pouvez aider vos amis à apprendre de nouvelles choses en créant vos propres missions.
    déclaration#colorée
      texte.
        Cette mission a été délibérément conçue pour vous montrer quelques-uns des nombreux atouts étonnants disponibles dans TwilioQuest que vous pouvez utiliser pour créer vos missions.
    déclaration#finale
      texte.
        Bonne chance ! Maintenant, lance-toi dans l'apprentissage et la création !